*{

    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: large;

}
.navbar{
    width: 100%;
    height: 20vh;
    background-color: thistle;
}
.Main{
    width: 100%;
    height: 40vh;
    background-color: aqua;
}
.side{
    display: flex;
    width: 100%;
    height: 20vh;
    
}
.side1{
    width: 50%;
    background-color: blanchedalmond;
}
.side2{
    width: 50%;
    background-color:rgb(121, 157, 134);
}
.footer{
    width: 100%;
    height: 20vh;
    background-color: rgb(194, 102, 102);
}
